*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: rgb(72, 72, 177);
}

#app{
    display: flex;
    gap: 5px;
}

p{
    width: 170px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    line-height: 40px;
    background-color:rgb(117, 183, 248);
    border-radius: 10px;
}

.corretto{
    background-color: rgb(29, 175, 29);
}

.sbagliato{
    background-color: rgb(165, 38, 38);
}

.setter{
    margin-top: 30px;
    height: 40px;
}

input{
    margin-left: 8px;
    margin-top: 20px;
}

.button{
    position: absolute;
    top: 170px;
    left: 20px;
}

button{
    background-color: cornflowerblue;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: none;
    font-size: large;
    margin-right: 5px;
}


